name: DVC Tracking with Github Actions
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v2
      - name: Running_updates
        env: 
          GH_TOKEN: ${{ github.token }}
          REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
        run: |
          make install 
          dvc repro
          git fetch --prune
          dvc metrics diff --show-md master > report.md
          git config --global --add safe.directory /__w/dvc_pipeline_tracking/dvc_pipeline_tracking
          # Add figure to the report
          echo "## Validating results by region"
          cml-publish by_region.png --md >> report.md
          cml-send-comment report.md
          
